@import url(http://fonts.googleapis.com/css?family=Sacramento|Oxygen);

body {
  font-family: 'Oxygen', sans-serif;
  background: #DDD;
  font-size: 1.25em;
  line-height: 1.25em;
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

a {
  color: inherit;
  font-weight: bold;
}

img {
  padding: 0 1em;
}

.centered {
  text-align: center;
}

.border-red {
  border-color: red;
}

.inner-body {
  width: 1000px;
  margin: 0 auto;
  padding: 1em;
  background: white;
}

.title {
  font-family: 'Sacramento', cursive;
}

.side-block {
  display: inline-block;
  vertical-align: top;
}

