@import url(http://fonts.googleapis.com/css?family=Sacramento|Oxygen);

body {
  font-family: 'Oxygen', sans-serif;
  background: #DDD;
  font-size: 2em;
  line-height: 2em;
}

h1 {
  font-size: 4em;
  line-height: 1em;
}

h2 {
  font-size: 3em;
}

a {
  font-weight: bold;
}

img {
  padding: 0 1em;
}

hr {
  width: 30%;
}

.inline-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inline-list li {
  display: inline;
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

.border-red {
  border-color: red;
}

.row {
  background: white;
  margin-bottom: 15px;
  padding: 15px 0;
}

.title {
  font-family: 'Sacramento', cursive;
}

.profile-img {
  width: 100%;
  padding-bottom: 1em;
}

.container {
  margin-top: 1em;
}

.nav {
  font-size: 1em;
}

.nav li {
  margin-left: 10px;
  /* line-height: 3em; */
}

