	   body{
               font-family: Helvetica, Arial, Sans-serif;
	       font-weight: lighter;
	       
	       background: #D9D9D9;
	   }
	   
	   a{
	       color: black;
	       font-weight: bold;
	       text-decoration: none;
	       width: 100%;
	   }
	
	   h1{
	       font-size: 80px;
	       width: 100%;
	       margin-bottom: 10px;
	       padding: 10px;
	       background-color: #0099FF;
	       
	       box-sizing:border-box;
               -moz-box-sizing:border-box;
               -webkit-box-sizing:border-box;
           
               color: white;
	   }
	   
	   h6{ /* Setting these this way was stupid. Bad Jon. */
	       color: #FF6600;
	       font-size: 2em;
	       margin-bottom: 1em;
	       font-weight: bold;
	   }
	   
	   p{
               font-size: 1em;
               margin-bottom: 1em;
	       line-height: 1.25em;
           }
       
           img{
               height: 150px;
               width: 150px;
               display: block;
               margin: 0 auto;
       }
       
       ul{
           line-height: 1.5em;
       }
	   
	   .sub, .section{
	       float: left;
	   }
	   
	   .section{
	       width: 100%;
	       margin-bottom: 10px;
	   }
	   
	   .sub{
	       height: 100%;
	       padding: 1em;
	       
	       box-sizing:border-box;
	       -moz-box-sizing:border-box;
	       -webkit-box-sizing:border-box;
	       
	       text-align: left;
	       	       
	       background-color: #FFFFFF;
	   }
	   
	   .big{
	       width: 700px;
	   }
	   
	   .small{
	       width: 290px;
	   }
	   
	   .half{
	       width: 495px;
	   }
	   
	   .quarter_out{
	       width: 242px;
	   }
	   
	   .quarter_in{
	       width: 243px;
	   }
	   
	   .left{
	       margin-right: 10px;
	   }
	   
	   .des{
	       margin-top: 10px;
	       color: white;
	       font-weight: bold;
	       background: #FF6600;
	   }
	   
	   .title{
	       text-align: center;
	   }
	   
	   #main_content_div{
	       width: 1000px;
	       margin: 0 auto 0 auto;
	   }
	   
	   #inner_main{
	       width: 1000px;
           margin: 0 auto;
           float: left;
	   }
	   
	   #nav_section{
	       position: fixed;
	       top: 10px;
	       background: white;
	       padding: 10px;
	   }
	   
	   #nav_title{
	       margin-bottom: 0;
	   }
	   
	   #link_list{
	       margin-top: 10px;
	   }
