html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: sans-serif;
	background: #FDFDFD;
}

.main-title {
	padding-top: 5%;
	font-size: 80px;
}

.title {
	padding-top: 5%;
	font-size: 70px;
}

.centered {
	text-align: center;
}

.light {
	font-weight: lighter;
}

.sub-title {
	text-align: center;
	font-size: large;
}

.fixed {
	position: fixed;
}

.full-width {
	width: 100%;
}

.top {
	top: 0;
}

