html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: sans-serif;
	background: #FDFDFD;
}

.main-title {
	padding-top: 5%;
	width: 100%;
	text-align: center;
	font-size: 80px;
	font-weight: lighter;
}

.title {
	text-align: center;
	font-size: 70px;
}

.sub-title {
	text-align: center;
	font-size: large;
}

